@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.Product.CreateModel
@{
}

<div class="container mt-5">
	<h2>@ViewData["Title"]</h2>
	<div>
		<form asp-action="Create" method="post">
			<div class="flex-row">
				<label asp-for="product.IdProduct" class="col-form-label-lg"></label>
				<input asp-for="product.IdProduct" class="form-control" />
				<span asp-validation-for="product.IdProduct" class="text-danger"></span>
			</div>
			<div class="flex-row">
				<label asp-for="product.NameProduct" class="col-form-label-lg"></label>
				<input asp-for="product.NameProduct" class="form-control" />
				<span asp-validation-for="product.NameProduct" class="text-danger"></span>
			</div>
			<div class="flex-row">
				<label asp-for="product.Note" class="col-form-label-lg"></label>
				<input asp-for="product.Note" class="form-control" />
				<span asp-validation-for="product.Note" class="text-danger"></span>
			</div>
			<div class="flex-row">
				<label asp-for="product.ImgProduct" class="col-form-label-lg"></label>
				<input asp-for="product.ImgProduct" class="form-control" />
				<span asp-validation-for="product.ImgProduct" class="text-danger"></span>
			</div>
			<div class="flex-row">
				<label asp-for="product.Price" class="col-form-label-lg"></label>
				<input asp-for="product.Price" class="form-control" />
				<span asp-validation-for="product.Price" class="text-danger"></span>
			</div>
			<div class="flex-row mt-2">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a class="btn btn-success" asp-page="Index">Back To List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}