@page
@model quanlyvanchuyencakoi.web3.Pages.Admin.Product.EditModel
@{
}

<h2>Edit product</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="product.NameProduct" class="control-label"></label>
        <input asp-for="product.NameProduct" class="form-control" />
        <span asp-validation-for="product.NameProduct" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="product.Note" class="control-label"></label>
        <input asp-for="product.Note" class="form-control" />
        <span asp-validation-for="product.Note" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="product.Price" class="control-label"></label>
        <input asp-for="product.Price" type="number" class="form-control" />
        <span asp-validation-for="product.Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="product.ImgProduct" class="control-label"></label>
        <input asp-for="product.ImgProduct" type="image" class="form-control" />
        <span asp-validation-for="product.ImgProduct" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancel</a>
</form>